{% extends 'homepage.html' %}{% load humanize partition staticfiles %}

{% block content_container %}
<div class="content-container clearfix banner">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Discover the Stories Behind the Data</h1>
            <h4>WAZImap is a tool aimed at helping journalists add content and depth to stories.</h4>
        </section>
    </article>
</div>
<div class="content-container clearfix banner mobile">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Discover the Stories Behind the Data</h1>
            <div class="search-section div-area">
                <div><span>Search for a place in {{WAZIMAP.country_name}}</span> <i class="fa fa-search"></i></div>
            </div>
            <div class="search-section input-area">
                <input name="geography_select" id="geography-select" type="text" autocomplete="off">
            </div>
        </section>
    </article>
</div>

<div class="clearfix">
    <article style="margin-bottom:0px;">
        <section class=" clearfix" style="margin-bottom:0px;">
            <div id="slippy-map"></div>
        </section>

    </article>
</div>

<div class="content-container clearfix topics" id="topics">
    <article class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Topics </h1>
            <p class="article-p">Search by selecting a topic</p>
        </header>
        <section class="card-container clearfix">
        <script>
            topics = JSON.parse("{{topics|safe}}".replace(/'/g, '"'));
            for (k in topics) {
                document.write ('<a href="/profiles/country-TZ-Tanzania/?topic='+  topics[k].topic  +'">')
                document.write ('<div class="column-quarter topic">')
                document.write ('<img src="'+ topics[k].icon +'" aria-hidden="true" style="height:80px;"/>');
                document.write ('<div class="topic-name"> ' + topics[k].name + '</div>');
                document.write ('</div>');
                document.write ('</a>');
            }
        </script>
        </section>
    </article>
</div>

<div class="content-container clearfix howitworks" id="howitworks">
    <article class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">How it Works</h1>
        </header>
        <section>
            <div class="column-third callout with-icon">
                <center><img src="/static/img/find_facts.png"/></center>
                <h3>Find facts</h3>
                <p>Populations and financial figures are broken down by category: Elections, Demographics, Service Delivery, Economics and Education.</p>
            </div>
            <div class="column-third callout with-icon">
                <center><img src="/static/img/get_context.png"/></center>
                <h3>Visualize</h3>
                <p>Our library of charts gives you insight into data from the places you research. Look for them on profile pages. You can even <a href="{% url 'example_detail' 'embed-charts' %}">embed the charts</a> on your own site.</p>
            </div>
            <div class="column-third callout with-icon">
                <center><img src="/static/img/visualise.png"/></center>
                <h3>Get context</h3>
                <p>Pre-computed statistics are presented alongside each data point, so you can see how each place fits into a larger context.</p>
            </div>
        </section>
    </article>
</div>

<div class="content-container clearfix showcase">
    <article class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Explore our Showcase</h1>
            <p class="article-p">Sample stories written with the help of WAZImap</p>
        </header>
        <section>
            <div class="column-third callout with-icon">
                <img src="{% static 'img/crowds.jpg' %}"/>
                <h2>The jobless millions</h2>
                <p>By Frankline Sunday</p>
                <p>Only one in every five Kenyan youth of working age is employed compared to one in 20 in Uganda and Tanzania. This is three times the rate of unemployment among the youth in Uganda and Tanzania.</p>
                <center><button>Read more</button></center>
            </div>
            <div class="column-third callout with-icon">
                <img src="{% static 'img/school.jpg' %}"/>
                <h2>No school, No job?</h2>
                 <p>By Frankline Sunday</p>
                <p>Every day, groups of young people can be seen congregating in open spaces in the city and other urban areas which have become known as ‘job corners’.</p>
                <center><button>Read more</button></center>
            </div>
            <div class="column-third callout with-icon">
                <img src="{% static 'img/money.jpg' %}"/>
                <h2>The curse of youth unemployment cash</h2>
                <p>By Frankline Sunday</p>
                <p>Kenyans have been left reeling as reports emerge of how resources allocated for the empowerment of the huge mass of unemployed youth disappeared ...</p>
                <center><button>Read more</button></center>
            </div>
        </section>
    </article>
</div>
<div style="display:none">
    <img src="{% static 'img/census_over.png' %}"/>
    <img src="{% static 'img/development_over.png' %}"/>
    <img src="{% static 'img/health_over.png' %}"/>
    <img src="{% static 'img/education_over.png' %}"/>
</div>
{% endblock content_container %}
