{% extends 'profile/profile_detail.html' %}

{% block profile_header_tail %}
    <div class="column-full">
        <p class="caption"><strong>Census data:</strong> 2012</p>
    </div>
{% endblock %}

{% block profile_detail %}
<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#pop_count" id="pop_count">Population <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
            </div>
            <div class="column-quarter" id="chart-pie-demographics-sex_ratio" data-stat-type="percentage" data-chart-title="Sex"></div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.urbanised stat_type='percentage' %}
            </div>
            <div class="column-quarter" id="chart-grouped_column-demographics-urban_distribution" data-stat-type="scaled-percentage" data-chart-title="Urban vs rural by sex"></div>
        </section>
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#age" id="age">Age <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.median_age stat_type='number' %}
            </div>
            <div class="column-half">
                <div id="chart-histogram-demographics-age_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by age range"></div>
            </div>
            <div class="column-quarter" id="chart-pie-demographics-age_category_distribution" data-stat-type="percentage" data-chart-title="Population by age category"></div>
        </section>

    </div>
</article>

<!--<article id="education" class="clearfix">-->
    <!--<header class="section-contents">-->
        <!--<h1>Education</h1>-->
    <!--</header>-->
    <!--<div class="section-container">-->

        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#highest-education-level-reached" id="highest-education-level-reached">Educational level <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=education.education_reached_secondary_or_higher stat_type='percentage' %}-->
            <!--</div>-->
            <!--<div class="column-two-thirds" id="chart-histogram-education-education_reached_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by highest education level reached" data-qualifier="Universe: {{ education.education_reached_distribution.metadata.universe }}"></div>-->
        <!--</section>-->
        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#school-attendance" id="school-attendance">School attendance <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=education.school_attendance_never stat_type='percentage' %}-->
            <!--</div>-->
            <!--<div class="column-two-thirds" id="chart-grouped_column-education-school_attendance_distribution" data-stat-type="scaled-percentage" data-chart-title="School attendance by sex" data-qualifier="Universe: {{ education.school_attendance_distribution.metadata.universe }}"></div>-->
        <!--</section>-->

    <!--</div>-->
<!--</article>-->

<!--<article id="employment" class="clearfix">-->
    <!--<header class="section-contents">-->
        <!--<h1>Employment</h1>-->
    <!--</header>-->
    <!--<div class="section-container">-->

        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#employment">Employment <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=employment.employed stat_type='percentage' %}-->
            <!--</div>-->
            <!--<div class="column-two-thirds" id="chart-grouped_column-employment-activity_status_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by employment status" data-qualifier="Universe: {{ employment.activity_status_distribution.metadata.universe }}"></div>-->
        <!--</section>-->

    <!--</div>-->
<!--</article>-->

<!--<article id="households" class="clearfix">-->
    <!--<header class="section-contents">-->
        <!--<h1>Households</h1>-->
    <!--</header>-->
    <!--<div class="section-container">-->

        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#households">Households <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=households.total_households stat_type='number' %}-->
            <!--</div>-->
        <!--</section>-->
        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#households-water" id="households-water">Main source of water <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=households.piped_water stat_type='percentage' %}-->
            <!--</div>-->
            <!--<div class="column-two-thirds" id="chart-histogram-households-water_source_distribution" data-stat-type="scaled-percentage" data-chart-title="Households by main source of water"></div>-->
        <!--</section>-->
        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#households-lighting" id="households-lighting">Main source of lighting <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=households.lighting_electricity stat_type='percentage' %}-->
            <!--</div>-->
            <!--<div class="column-two-thirds" id="chart-histogram-households-lighting_distribution" data-stat-type="scaled-percentage" data-chart-title="Households by main type of lighting fuel"></div>-->
        <!--</section>-->
        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#households-waste" id="households-waste">Main mode of human waste disposal <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=households.sewer_or_septic stat_type='percentage' %}-->
            <!--</div>-->
            <!--<div class="column-two-thirds" id="chart-histogram-households-waste_disposal_distribution" data-stat-type="scaled-percentage" data-chart-title="Households by main mode of human waste disposal"></div>-->
        <!--</section>-->
        <!--<section class="clearfix stat-row">-->
            <!--<h2><a class="permalink" href="#households-materials" id="households-materials">Household construction materials <i class="fa fa-link"></i></a></h2>-->
            <!--<div class="column-third" id="chart-pie-households-roofing_material_distribution" data-stat-type="scaled-percentage" data-chart-title="Households by main type of roofing material"></div>-->
            <!--<div class="column-third" id="chart-pie-households-floor_material_distribution" data-stat-type="scaled-percentage" data-chart-title="Households by main type of floor material"></div>-->
            <!--<div class="column-third" id="chart-pie-households-wall_material_distribution" data-stat-type="scaled-percentage" data-chart-title="Households by main type of wall material"></div>-->
        <!--</section>-->

    <!--</div>-->
<!--</article>-->

<hr>
<article class="clearfix">
    <h2><a href="#">Uwezo Annual Assessment Report 2015</a></h2>
</article>

<article id="literacy-test" class="clearfix">
    <header class="section-contents">
        <h1>Literacy & numeracy tests</h1>
    </header>
    <div class="section-container">
         <section class="clearfix stat-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=literacy.all_subjects_dist stat_type='percentage' %}
            </div>
         </section>

         <section class="clearfix stat-row">
            <div class="column-third"  id="chart-pie-literacy-english_test_dist" data-stat-type="percentage" data-chart-title="Percentage of children passing English literacy tests" data-initial-sort="{{literacy.english_sort}}"></div>
            <div class="column-third"  id="chart-pie-literacy-swahili_test_dist" data-stat-type="percentage" data-chart-title="Percentage of children passing Swahili literacy tests" data-initial-sort="{{literacy.swahili_sort}}"></div>
            <div class="column-third"  id="chart-pie-literacy-numeracy_test_dist" data-stat-type="percentage" data-chart-title="Percentage of children passing Numeracy tests" data-initial-sort="{{literacy.numeracy_sort}}"></div>
        </section>

    </div>
</article>

<article id="attendance" class="clearfix">
    <header class="section-contents">
        <h1>School attendance</h1>
    </header>
    <div class="section-container">

         <section class="clearfix stat-row">
             <div class="column-half"  id="chart-pie-attendance-out_of_school_dist" data-stat-type="percentage" data-chart-title="Percentage of children aged 7-16 who are not in school" data-initial-sort="{{attendance.out_of_school_sort}}"></div>
             <div class="column-half"  id="chart-pie-attendance-dropped_out_dist" data-stat-type="percentage" data-chart-title="Percentage of children aged 9-13 who dropped out of primary school" data-initial-sort="{{attendance.drop_out_sort}}"></div>
        </section>

    </div>
</article>

<hr>
<article class="clearfix">
    <h2><a href="http://www.pepfar.gov/documents/organization/255251.xlsx">The United States President's Emergency Plan for AIDS relief </a></h2>
</article>

<article id="pepfar" class="clearfix">
    <header class="section-contents">
        <h1>PEPFAR</h1>
    </header>

    <div class="section-container">
         <section>
             <small>The data within the sheets represent PEPFAR program results from Oct. 1, 2014 to Sept. 30, 2015</small>
         </section>
         <section class="clearfix stat-row">
            <div class="column-half">
                {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.HTC_TST stat_type='number' %}
            </div>
         </section>

         <section class="clearfix stat-row">
            <div class="column-third"  id="chart-pie-pepfar-PMTCT_STAT" data-stat-type="scaled-percentage" data-chart-title="Number of pregnant women with known HIV status (includes women who were tested for
HIV and received their results)"></div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.PMTCT_STAT_POS stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.PMTCT_ARV stat_type='number' %}</div>
        </section>

        <section class="clearfix stat-row">
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.PMTCT_EID stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.PMTCT_EID_POS stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.PMTCT_CTX stat_type='number' %}</div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.CARE_NEW stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.TX_NEW stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.CARE_CURR stat_type='number' %}</div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.TB_SCREEN stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.TX_CURR stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.TB_ART stat_type='number' %}</div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.TX_RET_NUM stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.TX_RET_DEN stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.VMMC_CIRC stat_type='number' %}</div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.OVC_SERV stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.PP_PREV stat_type='number' %}</div>
            <div class="column-third"> {% include 'profile/_blocks/_stat_list.html' with stat=pepfar.KP_PREV stat_type='number' %}</div>
        </section>
    </div>
</article>


<!--<article id="pupil-teacher-ratios" class="clearfix">-->
    <!--<header class="section-contents">-->
        <!--<h1>Pupil teacher ratios</h1>-->
    <!--</header>-->
    <!--<div class="section-container">-->
         <!--<section class="clearfix stat-row">-->
            <!--<div class="column-half">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=pupil_teacher_ratios.pupil_teacher_ratio stat_type='number' %}-->
            <!--</div>-->
             <!--<div class="column-half">-->
                <!--{% include 'profile/_blocks/_stat_list.html' with stat=pupil_teacher_ratios.pupils_per_textbook stat_type='number' %}-->
            <!--</div>-->
         <!--</section>-->

         <!--<section class="clearfix stat-row">-->
            <!--<div class="column-half"  id="chart-pie-pupil_teacher_ratios-pupil_attendance_rate_dist" data-stat-type="percentage" data-chart-title="Pupil attendance rates in govt schools"></div>-->
            <!--<div class="column-half"  id="chart-pie-pupil_teacher_ratios-teachers_absent_dist" data-stat-type="percentage" data-chart-title="Average number of teachers absent"></div>-->
        <!--</section>-->

    <!--</div>-->
<!--</article>-->

<!--<article id="school_amenities" class="clearfix">-->
    <!--<header class="section-contents">-->
        <!--<h1>School amenities</h1>-->
    <!--</header>-->
    <!--<div class="section-container">-->
         <!--<section class="clearfix stat-row">-->
            <!--<div class="column-third"  id="chart-pie-school_amenities-library_data" data-stat-type="percentage" data-chart-title="Schools with libraries"></div>-->
            <!--<div class="column-third"  id="chart-pie-school_amenities-drinking_water_data" data-stat-type="percentage" data-chart-title="Schools with clean drinking water"></div>-->
            <!--<div class="column-third"  id="chart-pie-school_amenities-feeding_program_data" data-stat-type="percentage" data-chart-title="Schools with feeding programs"></div>-->
        <!--</section>-->

    <!--</div>-->
<!--</article>-->

{% endblock %}
